* {
    margin: 0;
    padding: 0;
}

html, body {
    color: black;
    font-family: 'Smythe', system-ui;
}

.container {
    min-width: 375px;
    max-width: 600px;
    margin: 0 auto 0 auto;
}

header {
    background-image: url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 20% 90%;
    height: 167px;
    display: flex;
}

.hero-text {
    margin: 35px auto auto 45px;
    color: #fff;
    font-size: 40px;
}

.restaurant-quote {
    font-size: 22px;
    margin-top: 5px;
}

main {
    margin: 67px 46px 0 46px;
}

.item-container {
    display: flex;
    padding-bottom: 50px;
    margin-top: 45px;
    border-bottom: 1px solid #D2D2D2;
}

.item-img {
    width: 100px;
    height: 100px;
}

.item-info-container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-name {
    font-size: 28px;
}

.item-price {
    font-size: 20px;
}

.item-description {
    color: #8b8b8b8b;
}

.add-item-btn {
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: Inter;
    font-size: 32px;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    align-self: center;
    color: #3C3C3C;

}

.add-item-btn:hover,
.cart-remove:hover,
.submit-order-btn:hover,
.modal-close-btn:hover {
    cursor: pointer;
}

/* shopping cart */
.shopping-cart-container {
    margin-bottom: 45px;
}

.shopping-cart-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 64px;
    margin-top: 45px;
}

.cart-item-container {
    display: flex;
    align-items: baseline;
    margin-top: 22px;
    margin-bottom: 30px;
}

.cart-remove {
    color: #bbb;
    font-size: 12px;
    font-family: Verdana;
    background-color: white;
    border: none;
    margin-left: 13px;
}

.cart-remove:hover,
.modal-close-btn:hover {
    color: red;
}

.cart-price {
    margin-left: auto;
}

.cart-total-container {
    border-top: 2px solid #393333;
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

.submit-order-btn {
    margin-top: 50px;
    display: block;
    width: 100%;
    padding: 18px 0;
    background-color: #16DB99;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    color: white;
}

/* Payment Modal */
.payment-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    max-width: 520px;
    height: 520px;
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 0.5);
}

.close-modal-btn-container {
    text-align: right;
    margin-right: 9px;
    margin-top: 9px;
}

.modal-close-btn {
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}


form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-family: Verdana;
    text-align: center;
    margin: 48px 0;
}

input {
    padding: 15px 0 15px 25px;
    font-family: Verdana;
    font-size: 20px;
    margin: 0 25px 20px 25px;
}

.pay-btn {
    font-family: Verdana;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #16DB99;
    padding: 15px;
    margin: 25px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

/* message */
.message {
    display: flex;
    font-size: 32px;
    color: #065F46;
    background-color: #ECFDF5;
    justify-content: center;
    padding: 50px 30px;
}
